*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #1b1942;
}

form{
    width: 400px;
    background: #453a8c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000
}

input[type=text], input[type=password] {
    width: 100%;
    background-color: #453a8c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 14px;
    border: 1px solid #6452d9;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}

input[type=submit]{
    width: 100%;
    background-color: #6b65e6;
    border: none;
    padding: 8px;
    color: white;
    margin: 16px 0px;
    font-size: 16px;
}

.section {
    padding: 8px 0;
}

.section .title{
    padding: 10px 0;
}

.button {
    text-decoration: underline;
    padding: 10px 0;
    text-align: center;
}

.button a{
    color: white;
}